<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> projetos </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
    


</head>


<body style="background: linear-gradient(68deg, #40916c 16.62%, #2d6a4f 85.61%);">

        <h3 class="text-project">Projetos</h3>
        <img class="img-logo" src="../static/img/tf.png" alt="logo">
        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id=toggle>
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-itens">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/sobre">Sobre</a>
                            </li>
                            <li>
                                <a href="/projetos">Projetos</a>
                            </li>
                            <li>
                                <a href="/paixao">Minha Paixão</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <main class="tcontainer">
            <div class="tcard-container">
                <div class="tcard">
                    <div class="tcard-wraper">
                        <h2>Projeto 1</h2>
                        <p>Confira!!</p>
                    </div>
                </div>
                <div class="tcard-text">
                    Texto de apresentação do projeto
                </div>
            </div>
            <div class="tcard-container">
                <div class="tcard">
                    <div class="tcard-wraper">
                        <h2>Projeto 1</h2>
                        <p>Confira!!</p>
                    </div>
                </div>
                <div class="tcard-text">
                    Texto de apresentação do projeto
                </div>
            </div>
            <div class="tcard-container">
                <div class="tcard">
                    <div class="tcard-wraper">
                        <h2>Projeto 1</h2>
                        <p>Confira!!</p>
                    </div>
                </div>
                <div class="tcard-text">
                    Texto de apresentação do projeto
                </div>
            </div>
        </main>
</body>

<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col item social"><a href="#"><i class="icon ion-social-linkedin-outline"></i></a><a href="#"><i
                        class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Desenvolvido por Thiago Leite</p>
    </div>
</footer>

</html>